@import "tailwindcss";

/* Modo claro */
:root {
  --background: #E4E6EC;
  --foreground: black;
}

/* Modo escuro */
.dark {
  --background: #000002d5;
  --foreground: white;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s, color 0.3s;
}